body {
	background-color: gray;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: white;
  text-align: center;
}

table {
  width: 70%;
  height: 20%;
  font-size:30px;
  border-collapse: collapse;
}

table, th, td {
  text-align: center;
  border: 3px solid black;
  color: #3d5757;
  background-color: #e8ffff;
}



/*La propiedad border-collapse establece si los bordes de la tabla deben colapsarse en un solo borde*/